
@{
    ViewData["Title"] = "Giải pháp & dịch vụ";
    ViewData["TitleName"] = "Giải pháp & dịch vụ";
    ViewData["TitleParent"] = "Home";
    ViewData["TitleParentName"] = "Trang chủ";
    ViewData["TitleLink"] = "Giải pháp & dịch vụ";
}

<div class="container mobiplus__solutions">
    @await Html.PartialAsync("/Views/Shared/Title.cshtml")

    <div class="mt-5 mt-md-5 mt-lg-5 row mx-auto">
        <div class="col-12 col-md-6 col-lg-6  mt-5 mt-md-5 mt-lg-5">
            <img class="w-100" src="~/image/Solution/Group 6322.png" />
        </div>
        <div class="col-12 col-md-6 col-lg-6  mt-5 mt-md-5 mt-lg-5">
            <p class="font-weight-bold text-uppercase font_1">lợi ích áp dụng phần mềm vào doanh nghiệp</p>
            <h3 class="font-weight-bold font_2">Chúng tôi nỗ lực sáng tạo cùng bạn</h3>
            <p class="font_3">
                Hiện nay việc ứng dụng phần mềm, vào các hoạt động của các doanh nghiệp, tổ chức, cá nhân không còn xa lạ. Đơn giản từ những chiếc điện thoại thông minh, đến các hệ thống máy tính đều chúng ta đều trực tiếp sử dụng các phần mềm trên đó.
                <span class="font-weight-bold">Lợi ích khi ứng dụng phần mềm vào doanh nghiệp:</span>
            </p>
            <p class="d-flex flex-nowrap align-items-start">
                <img class="mb-2" src="~/image/AboutUs/checked.png" />
                <span class="font_3 font_3_1"><span class="font-weight-bold">Kinh doanh hiệu quả hơn:</span> Các hoạt động của doanh nghiệp hiện nay chịu sự cạnh tranh mạnh mẽ từ môi trường trực tuyến – online – internet, việc ứng dụng công nghệ thông tin là chìa khóa giúp cho doanh nghiệp vận hành hoạt động hiệu quả và ổn định.</span>
            </p>
            <p class="d-flex flex-nowrap align-items-start">
                <img class="mb-2" src="~/image/AboutUs/checked.png" />
                <span class="font_3 font_3_1"><span class="font-weight-bold">Tiết kiệm thời gian, chi phí:</span> Sử dụng phần mềm, và ứng dụng công nghệ thông tin vào quản lý sản xuất trong doanh nghiệp là xu thế toàn cầu. Xây dựng, tích hợp các phần mềm sẽ giúp doanh nghiệp tiết kiệm rất nhiều thời gian, chi phí kinh doanh.</span>
            </p>
            <p class="d-flex flex-nowrap align-items-start">
                <img class="mb-2" src="~/image/AboutUs/checked.png" />
                <span class="font_3 font_3_1"><span class="font-weight-bold">Xử lý dữ liệu nhanh, chính xác, tin cậy:</span> Loại bỏ tất cả những sai sót chủ quan của con người, có thể tương tác kết hợp với các phần mềm khác để lấy thông tin đưa ra dữ liệu tổng hợp.</span>
            </p>
        </div>
    </div>
    <div class="mt-4 mt_23 row mx-0">
        <div class="my-auto mx-auto">
            <div class="text-center">
                <p class="font-weight-bold text-uppercase font_4">Dịch vụ của chúng tôi</p>
                <h3 class="font-weight-bold font_2 font_2_1">Dịch vụ của chúng tôi đang cung cấp</h3>
                <img class="mb_8" src="~/image/Group 307.png" />
                <p style="color:#7D82A1;" class="mx-auto col-12 col-md-10 col-lg-10">
                    Với đội ngũ chuyên gia giàu kinh nghiệm đã triển khai nhiều dự án lớn và phức tạp, chúng tôi hiểu rõ các yêu cầu nghiệp vụ của khách hàng và đem đến cho khách hàng sản phẩm phần mềm có chất lượng cao nhất.
                </p>
            </div>
            <div class="row  px-0  mt-5 mt-md-5 mt-lg-5 mx-auto">
                <div class="col-12 col-md-6 col-lg-6 my-auto">
                    <img class="w-100" src="~/image/Solution/Rectangle 269.png" />
                </div>
                <div class="col-12 col-md-6 col-lg-6 mt-4 mt-md-0">
                    <h3 class="font-weight-bold font_5">Hệ thống kinh doanh</h3>
                    <p class="font_6">
                        Phát triển các hệ thống phức tạp như là các hệ thống nội bộ đáp ứng yêu cầu nghiệp vụ cụ thể của khách hàng. Công nghệ phát triển: PHP, Java, Microsoft .NET / C #, Ruby on Rails.
                    </p>
                    <p class="d-flex flex-nowrap align-items-center">
                        <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                        Hệ thống Quản lý bảo hành bảo trì.
                    </p>
                    <p class="d-flex flex-nowrap align-items-center">
                        <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                        Hệ thống Quản lý Đơn hàng.
                    </p>
                    <p class="d-flex flex-nowrap align-items-center">
                        <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                        Hệ thống quản lý nhân sự và tính lương.
                    </p>
                    <p class="d-flex flex-nowrap align-items-center">
                        <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                        Hệ thống quản lý dự án.
                    </p>
                    <p class="d-flex flex-nowrap align-items-center">
                        <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                        Hệ thống quản lý điểm bán hàng (POS).
                    </p>
                    <p class="d-flex flex-nowrap align-items-center">
                        <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                        Hệ thống ERP.
                    </p>
                    <p class="d-flex flex-nowrap align-items-center mb_0">
                        <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                        Hệ thống Dịch vụ Spa.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row  mt_23 px-0 mx-auto">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <h3 class="font-weight-bold font_5">Thiết kế website</h3>
            <p class="font_6">
                Dịch vụ thiết kế website chuyên nghiệp của Mobiplus với giao diện được thiết kế độc đáo, sáng tạo. Hệ thống tính năng website đầy đủ, mang tính ứng dụng cao và phù hợp với từng cá nhân, doanh nghiệp.
                Công nghệ phát triển: PHP, Ruby on Rails, ASP.NET, JSP, Google API
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                Website giới thiệu công ty, doanh nghiệp
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                Website bán hàng, chuyên nghiệp, quản lý kho
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                Website trang tin tức
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                Website nhà hàng, khách sạn, du lịch
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                Website thương mại điện tử
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                Website theo yêu cầu khác
            </p>
            <p class="d-flex flex-nowrap align-items-center mb_0">
                <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                Hệ thống Dịch vụ Spa.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <img class="w-100" src="~/image/Solution/Rectangle 264.png" />
        </div>
    </div>
    <div class="row mt_23 mx-0">
        <div class="col-md-12 col-12 col-lg-12 px-0 my-auto bg-blue">
            <div class="col-12 row mx-auto p-2 col-md-10 col-lg-10">
                <div class="col-md-3 col-6 text-center mt-3 p-0">
                    <div class="border-mobi mx-2">
                        <img class="img-size-banner" src="~/image/Solution/Ico_1.png" />
                        <p class="mt-3 font-weight-bold text-white">Tương thích mọi thiết bị</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-3 p-0">
                    <div class="border-mobi mx-2">
                        <img class="img-size-banner" src="~/image/Solution/Ico_2.png" />
                        <p class="mt-3 font-weight-bold text-white">Quản lý đơn giản</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-3 p-0">
                    <div class="border-mobi mx-2">
                        <img class="img-size-banner" src="~/image/Solution/Ico_3.png" />
                        <p class="mt-3 font-weight-bold text-white">Chi phí hiệu quả</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-3 p-0">
                    <div class="border-mobi mx-2">
                        <img class="img-size-banner" src="~/image/Solution/Ico_4.png" />
                        <p class="mt-3 font-weight-bold text-white">Tối ưu hóa SEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto mt_23">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <img class="w-100" src="~/image/Solution/Rectangle 264.png" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 mt-4 mt-md-0">
            <h3 class="font-weight-bold font_5">Thiết kế ứng dụng - App mobile</h3>
            <p class="font_6">
                Mobiplus luôn mong muốn mang lại dịch vụ thiết kế Mobile app chuyên nghiệp, chất lượng nhất, giá tốt nhất tới quý khách hàng.
                Công nghệ phát triển: React -Native, Xamarin.....
            </p>
            @{
                var designApps = new List<string> {
                    "Thiết kế app mobile quản lý nhân sự, quản lý công việc.",
                    "Thiết kế app mobile Shop online, bán hàng online",
                    "Thiết kế app mobile dịch vụ đặt sản phẩm/order.",
                    "Thiết kế app mobile quản lý bán hàng",
                    "Thiết kế app mobile booking khách sạn, booking phòng họp, lịch họp...",
                    "Thiết kế mobile app theo nhu cầu của khách hàng",

                };
            }
            @foreach (var item in designApps)
            {
                <p class="d-flex flex-nowrap align-items-center">
                    <img class="mr_4" height="24" src="~/image/Solution/imgleft.png" />
                    @(item)
                </p>
            }
        </div>
    </div>
    <div class="row mt_23 mx-0">
        <div class="col-md-12 col-12 col-lg-12 px-0 my-auto bg-blue">
            <div class="col-12 row mx-auto p-2 col-md-10 col-lg-10">
                <div class="col-md-3 col-6 text-center mt-3 p-0">
                    <div class="border-mobi mx-2">
                        <img class="img-size-banner" src="~/image/Solution/Icon_1.png" />
                        <p class="mt-3 font-weight-bold text-white">Dễ dàng sử dụng</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-3 p-0">
                    <div class="border-mobi mx-2">
                        <img class="img-size-banner" src="~/image/Solution/Icon_2.png" />
                        <p class="mt-3 font-weight-bold text-white">Định hướng người dùng</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-3 p-0">
                    <div class="border-mobi mx-2">
                        <img class="img-size-banner" src="~/image/Solution/Icon_3.png" />
                        <p class="mt-3 font-weight-bold text-white">Thay đổi nhanh chóng</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-3 p-0">
                    <div class="border-mobi mx-2">
                        <img class="img-size-banner" src="~/image/Solution/Icon_4.png" />
                        <p class="mt-3 font-weight-bold text-white">Tính năng đa dạng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto mt_23 mb_20">
        <div class="my-auto">
            <div class="col-12">
                <div class="text-center service">
                    <p class="font-weight-bold text-uppercase font_4">TẠI SAO CHỌN CHÚNG TÔI</p>
                    <h3 class="font-weight-bold font_2 font_2_1">Điểm khác biệt của Mobiplus</h3>
                    <img class="mb_8" src="~/image/Group 307.png" />
                    <p style="color:#7D82A1;" class="mx-auto col-12 col-md-10 col-lg-10">
                        Với thế mạnh là công ty thiết kế chuyên nghiệp và uy tín tại Việt Nam cùng với nhiều dự án đã thực hiện thành công được các tập đoàn và doanh nghiệp tin tưởng lựa chọn, chúng tôi không chỉ đem tới cho Quý khách hàng những sản phẩm sống động, tối ưu, dễ dàng sử dụng.
                    </p>
                </div>
                <div class="row mt-8 mt_md_12">
                    @{
                        var solutionsDifferentImg = new List<string> {
                            "/image/Solution/Star_perspective_matte.png",
                            "/image/Solution/Fire_perspective_matte.png",
                            "/image/Solution/img (1).png",
                            "/image/Solution/Clock_perspective_matte.png",
                            "/image/Solution/Rocket_perspective_matte.png",
                            "/image/Solution/FAQ_perspective_matte.png"
                        };
                        var solutionsDifferentTitle = new List<string> {
                            "Giải pháp tổng thể",
                            "Uy tín",
                            "Thấu hiểu",
                            "Đúng hẹn",
                            "Tối ưu",
                            "Hỗ trợ 24/7"
                        };
                    }
                    @for (var i = 0; i < 6; i++)
                    {
                        <div class="col-6 col-xl-4 p_2">
                            <div class="card card_2 d-flex flex-nowrap flex-column flex-md-row align-items-center justify-content-center pr_8 pl_8 pl_md_4 py_8">
                                <img class="img-size-icon mr_0 mr_md_4 mb_3 mb_md_0" src="@(solutionsDifferentImg[i])" />
                                <div class="">
                                    <h5 class="card-title font-weight-bold mb_0 mb_md_2 text-center text-md-left">@(solutionsDifferentTitle[i])</h5>
                                    <p class="card-text overflow-auto overflow_style_2 d-none d-md-block"
                                       style="color:#7D82A1; max-height:85px;">Mobiplus ngoài cung cấp các dịch vụ website, mobile app. Chúng tôi đem đến giải pháp toàn diện và tổng thể cho sản phẩn của bạn.</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*<div class="row mt-4 mt-md-5 mt-lg-5 ">
                        <div class="col-6 col-md-6 col-lg-4 p-1">
                            <div class="row mx-0 card border-card box-shadow-card">
                                <div class="col-md-4 col-12 text-center my-auto">
                                    <img class="img-size-icon" src="~/image/Solution/Star_perspective_matte.png" />
                                </div>
                                <div class="col-md-8 col-12 mobi-center">
                                    <h5 class="card-title font-weight-bold">Giải pháp tổng thể</h5>
                                    <p class="card-text hide-text-card card-text-size overflow-auto overflow_style_1 mb-0" style="color:#7D82A1">Mobiplus ngoài cung cấp các dịch vụ website, mobile app. Chúng tôi đem đến giải pháp toàn diện và tổng thể cho sản phẩn của bạn.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 p-1">
                            <div class="row mx-0 card border-card box-shadow-card">
                                <div class="col-md-4 col-12 text-center my-auto">
                                    <img class="img-size-icon" src="~/image/Solution/Fire_perspective_matte.png" />
                                </div>
                                <div class="col-md-8 col-12 mobi-center">
                                    <h5 class="card-title font-weight-bold">Uy tín</h5>
                                    <p class="card-text hide-text-card card-text-size overflow-auto overflow_style_1" style="color:#7D82A1">Dựa trên quá trình hình thành và phát triển của công ty và được chứng thực bởi những dự án thực tế cho các tập đoàn và doanh nghiệp trong nước.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 p-1">
                            <div class="row mx-0 card border-card box-shadow-card">
                                <div class="col-md-4 col-12 text-center my-auto">
                                    <img class="img-size-icon" src="~/image/Solution/img (1).png" />
                                </div>
                                <div class="col-md-8 col-12 mobi-center">
                                    <h5 class="card-title font-weight-bold">Thấu hiểu</h5>
                                    <p class="card-text hide-text-card card-text-size overflow-auto overflow_style_1" style="color:#7D82A1">
                                        Chúng tôi luôn lắng nghe những ý kiến góp ý để thấu hiểu khách hàng để tạo ra một sản phẩm chất lượng và đúng yêu cầu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 p-1">
                            <div class="row mx-0 card border-card box-shadow-card">
                                <div class="col-md-4 col-12 text-center my-auto">
                                    <img class="img-size-icon" src="~/image/Solution/Clock_perspective_matte.png" />
                                </div>
                                <div class="col-md-8 col-12 mobi-center">
                                    <h5 class="card-title font-weight-bold">Đúng hẹn</h5>
                                    <p class="card-text hide-text-card card-text-size overflow-auto overflow_style_1" style="color:#7D82A1">Sau quá trình tiếp nhận yêu cầu của khách hàng. chúng tôi bắt đầu lên kế hoạch và triển khai theo deadline và ban giao đúng hẹn cho khách hàng.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 p-1">
                            <div class="row mx-0 card border-card box-shadow-card">
                                <div class="col-md-4 col-12 text-center my-auto">
                                    <img class="img-size-icon" src="~/image/Solution/Rocket_perspective_matte.png" />
                                </div>
                                <div class="col-md-8 col-12 mobi-center">
                                    <h5 class="card-title font-weight-bold">Tối ưu</h5>
                                    <p class="card-text hide-text-card card-text-size overflow-auto overflow_style_1" style="color:#7D82A1">Hiệu quả được tối ưu từ chất lượng nhân lực và quy trình làm việc khoa học đảm bảo tốc độ load và thao tác dễ dàng. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 p-1">
                            <div class="row mx-0 card border-card box-shadow-card">
                                <div class="col-md-4 col-12 text-center my-auto">
                                    <img class="img-size-icon" src="~/image/Solution/FAQ_perspective_matte.png" />
                                </div>
                                <div class="col-md-8 col-12 mobi-center">
                                    <h5 class="card-title font-weight-bold">Hỗ trợ 24/7</h5>
                                    <p class="card-text hide-text-card card-text-size overflow-auto overflow_style_1" style="color:#7D82A1">Mobiplus luôn sẵn sàng hỗ trợ khách hàng trước, trong và sau khi hoàn thành dự án để khách hàng có những trải nghiệm dịch vụ tốt nhất.</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <div class="img-slide w-100 mt-5 mt-md-0">
                <img class="img-people" id="img-102" src="~/image/Service2/Group 6257.png" />
                <img class="w-100 img-ball" id="img-100" style="right:0;position:relative" src="~/image/Service2/Group 6263.png" />
                <img class="img-flower" src="~/image/Service2/Group 5967.png" />
                <img class="img-coin" id="img-101" src="~/image/Service2/Group 6008.png" />
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 my-auto mx-0 px-0">
            <div class="text-title mt-5 mt-md-0">
                <p class="font-weight-bold text-uppercase text-primary ">chúng tôi có thể</p>
                <h3 class="font-weight-bold font_2 font_2_2">Giúp bạn thành công.</h3>
                <p style="color:#7D82A1">
                    Đội ngũ nhân sự của Mobiplus có thể giúp cho bạn và doanh nghiệp của bạn có một
                    sản phẩm dễ dàng sử dụng, đảm bảo đầy đủ yêu cầu đã được đề ra.
                </p>
            </div>

            <div class="row" style="margin: 0rem -0.5rem;">
                @{
                    var solutionsHelpImg = new List<string> {
                            "/image/Solution/img (1).png",
                            "/image/Service2/Exchange_perspective_matte_s 2 (1).png",
                            "/image/Service2/Padlock_perspective_matte_s (1).png",
                            "/image/Solution/FAQ_perspective_matte.png"
                        };
                    var solutionsHelpTilte = new List<string> {
                            "Đề xuất giải pháp",
                            "Tối ưu sản phẩm",
                            "Dữ liệu bảo mật",
                            "Hỗ trợ 24/7"
                        };
                    var solutionsHelpNote = new List<string> {
                            "Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty hiện tại của bạn.",
                            "Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty hiện tại của bạn.",
                            "Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty hiện tại của bạn.",
                            "Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty hiện tại của bạn."
                        };
                }
                @for (var i = 0; i < 4; i++)
                {
                    <div class="col-6 p_2">
                        <div class="card card_ver2 h-100 d-flex flex-nowrap flex-column align-items-center justify-content-center px_5 py_8">
                            <img class="img-size-icon mb_5" src="@(solutionsHelpImg[i])" />
                            <div class="">
                                <h5 class="card-title font-weight-bold mb_0 mb_md_2 text-center">@(solutionsHelpTilte[i])</h5>
                                <p class="card-text text-center overflow-auto overflow_style_2 d-none d-md-block"
                                   style="color:#7D82A1; max-height:85px;">@(solutionsHelpNote[i])</p>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @*<div class="row" style="margin: 0rem -0.5rem;">
                <div class="col-6 col-md-6 col-lg-6 p-2">
                    <div class="card card_ver2 box-shadow-card " style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-5" src="~/image/Solution/img (1).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card">
                            <h5 class="card-title font-weight-bold">Đề xuất giải pháp</h5>
                            <p class="card-text hide-text-card" style="color:#7D82A1">
                                Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty
                                hiện tại của bạn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 p-2">
                    <div class="card card_ver2 box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-6" src="~/image/Service2/Exchange_perspective_matte_s 2 (1).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card">
                            <h5 class="card-title font-weight-bold">Tối ưu sản phẩm</h5>
                            <p class="card-text hide-text-card" style="color:#7D82A1">
                                Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty
                                hiện tại của bạn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 p-2">
                    <div class="card card_ver2 box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-7" src="~/image/Service2/Padlock_perspective_matte_s (1).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card">
                            <h5 class="card-title font-weight-bold">Dữ liệu bảo mật</h5>
                            <p class="card-text hide-text-card" style="color:#7D82A1">
                                Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty
                                hiện tại của bạn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 p-2">
                    <div class="card card_ver2 box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-8" src="~/image/Solution/FAQ_perspective_matte.png" />
                        </div>
                        <div class="card-body text-center mobi-size-card">
                            <h5 class="card-title font-weight-bold">Hỗ trợ 24/7</h5>
                            <p class="card-text hide-text-card" style="color:#7D82A1">
                                Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty
                                hiện tại của bạn.
                            </p>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="row mt_23 mx-auto px-0" style="background-color:#FBFCFF">
        <div class="col-12 img-contact ali-blog">
            <div class="text-center">
                <p class="font-weight-bold text-white">Liên hệ với chúng tôi</p>
                <h3 class="font-weight-bold text-white">Kết nối với chúng tôi</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4 text-white">
                    Bạn đang gặp vướng mắc trong việc xây dựng hoặc phát triển dự án, đang mong muốn tìm kiếm một đối tác khách hàng để hợp tác. Mobiplus là một lựa chọn tốt nhất dành cho bạn.
                </p>

            </div>
            <a class="btn-contact-2" style="border-radius:16px" asp-controller="ContactUs" asp-action="index">Liên hệ với chúng tôi</a>
        </div>
        <div class="col-12 col-xl-9 mx-auto p-0">
            <div class="owl-carousel owl-theme" id="carousel-3">
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
            </div>
        </div>
    </div>
</div>
