@{
    ViewData["Title"] = "Trang chủ";
    ViewData["BodyClass"] = "mobiplus-home";
}
<div class="container">
    <div class="row mx-auto" id="page-1">
        <div class="col-12 col-md-6 col-lg-6 order-md-2 order-lg-2">
            <div class="img-slide  mt-5">
                <img class="img-scale" id="img-23" src="~/image/Service/img (1).png" style=" float: right; width:10%" />
                <img class="mw-100" src="~/image/Slide/Group 6513.png" />
                <img src="~/image/Slide/Code_perspective_matte.png" style="position: relative; margin-top: -190%; width: 60px; margin-left:15%" />
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 order-md-1 order-lg-1">
            <div class="img-slide mt-md-5">
                <img class="img-flash" id="img-22" src="~/image/Slide/Group 6032.png" />
                <img class="w-100" src="~/image/Slide/Group 291.png" />
                @*<h1><strong style="font-size:60px">Chào mừng bạn<br /> đến với</strong></h1>*@
                <div class="motion-path-demo" style="margin-top: -36%; position: absolute; margin-left: 46%;">
                    @*<img class="planes" src="~/image/Slide/Group 5874.png" style="width:15%; margin-top: -44%;" />
                        <svg class="planes-svg" viewBox="0 0 338 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.642578 155.66C15.2259 132.577 54.0426 90.06 92.6426 104.66C113.143 112.66 98.0101 133.556 85.1426 121.91C68.3926 106.75 94.8926 34.1602 159.643 32.4102C222.506 30.7112 204.524 73.8646 179.5 69.5C166.387 67.2129 159.643 61 157.643 50.1601C155.177 36.7952 161.193 8.26007 201.393 1.66007C208.809 0.160074 231.493 -0.339926 262.893 9.66007C302.143 22.1601 318.393 17.6601 336.893 9.66007" stroke="transparent" />
                        </svg>*@
                    <img class="w-100" src="~/image/Service2/Group 5875.png" />
                </div>
                @*<h4><strong>Chúng tôi chuyên đưa ra các giải pháp xây dựng phần mềm hữu ích, giúp cho đối tác khách hàng có trải nghiệm thật tuyệt vời nhất.</strong></h4>*@
            </div>
            <div class="group-btn row mx-auto">
                <a class="btn-contact" style="margin-right:16px" asp-controller="ContactUs" asp-action="index">Liên hệ với chúng tôi</a>
                <a class="btn-information" asp-controller="AboutUs" asp-action="index" style="border-radius:10px">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
    <div class="row mx-auto mt-5 mt-md-5 mt-lg-5" id="page-2">
        <div class="col-12">
            <div class="service text-center">
                <p class="text-uppercase font-weight-bold text-primary">dịch vụ của chúng tôi</p>
                <h3 class="font-weight-bold">Dịch vụ của chúng tôi đang cung cấp</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4" style="color:#7D82A1">
                    Mobiplus chuyên phát triển các cổng thông tin điện tử, thương mại điện tử ( E-Commerce),thiết kế website, xây dựng và phát triển các ứng dụng trên nền web, ứng dụng di động và các hệ thống quản lý. Chúng tôi rất vui là đối tác tin tưởng của rất nhiều khách hàng.
                </p>
            </div>
            <div class="row mt-4 mt-md-5 mt-lg-5 service-2">
                <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-2">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon " id="img-hover-cap" src="~/image/Service/Briefcase_perspective_matte.png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Website & Mobile app</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1;">Mobiplus cung cấp các gói dịch vụ thiết kế website, mobile app đảm bảo tiêu chí thân thiện, dễ dàng sử dụng và đúng yêu cầu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-2">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-2" src="~/image/Service/img (1).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Phát triển website</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">Đây là yêu cầu cơ bản đối với các công ty, doanh nghiệp và cá nhân đang sở hữu các thiết kế website trong mọi lĩnh vực.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-2">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-3" src="~/image/Service/img (2).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Tôi ưu trang web</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">
                                Dịch vụ thiết kế website chuẩn SEO giá tốt, tối ưu trả nghiệm người dùng và thân thiện với
                                mọi trình duyệt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-2">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-4" src="~/image/Service/img (3).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Bảo trì & nâng cấp</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">Dựa trên sản phẩm đang có hiện tại chúng tôi thực hiện bảo trì và nâng cấp chúng để nâng cao trải nghiệm cho bạn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row  mx-auto mt-5 mt-md-5 mt-lg-5" id="page-3">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <div class="img-slide w-100 mt-5 mt-md-0">
                <img class="img-people mw-100" id="img-102" src="~/image/Service2/Group 6257.png" />
                <img class="mw-100 img-ball" id="img-100" style="right:0;position:relative" src="~/image/Service2/Group 6263.png" />
                <img class="img-flower mw-100" src="~/image/Service2/Group 5967.png" />
                <img class="img-coin mw-100" id="img-101" src="~/image/Service2/Group 6008.png" />
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <div class="text-title  mt-5 mt-md-0">
                <p class="font-weight-bold text-uppercase text-primary">chúng tôi có thể</p>
                <h3 class="font-weight-bold" style="color:#373D67">Giúp bạn thành công.</h3>
                <p style="color:#7D82A1">
                    Đội ngũ nhân sự của Mobiplus có thể giúp cho bạn và doanh nghiệp của bạn có một
                    sản phẩm dễ dàng sử dụng, đảm bảo đầy đủ yêu cầu đã được đề ra.
                </p>
            </div>
            <div class="row" id="succeed">
                <div class="col-6 col-md-6 col-lg-6 p-2">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-6" src="~/image/Solution/img (1).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Đề xuất giải pháp</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">
                                Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty
                                hiện tại của bạn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 p-2">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-5" src="~/image/Service2/Exchange_perspective_matte_s 2 (1).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Tối ưu sản phẩm</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">
                                Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty
                                hiện tại của bạn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 p-2">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-7" src="~/image/Service2/Padlock_perspective_matte_s (1).png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Dữ liệu bảo mật</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">
                                Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty
                                hiện tại của bạn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 p-2">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-8" src="~/image/Solution/FAQ_perspective_matte.png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Hỗ trợ 24/7</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">
                                Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty
                                hiện tại của bạn.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto mt-5 mt-md-5 mt-lg-5" id="page-4">
        <div class="col-12">
            <div class="service text-center">
                <p class="text-uppercase font-weight-bold text-primary">Về mobiplus</p>
                <h3 class="font-weight-bold">Chúng tôi làm gì?</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4" style="color:#7D82A1">
                    Mobiplus là một trong những công ty về công nghệ. Làm việc theo nhóm có cấu trúc và hiệu quả về chi phí. Chúng tôi ra đời với sứ mệnh phục vụ khách hàng với dịch vụ hợp lý, đưa ra những giải pháp hữu ı́ch phù hợp với nhu cầu của khách hàng.
                </p>
            </div>
            <div class="row mt-4 mt-md-5 mt-lg-5" id="about-us">
                <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-3">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-8" src="~/image/Service2/Target_perspective_matte_s 1.png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Xây dựng ý tưởng</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">Mobiplus cung cấp các gói dịch vụ thiết kế website, mobile app đảm bảo tiêu chí thân thiện, dễ dàng sử dụng và đúng yêu cầu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-3">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-9" src="~/image/Slide/Code_perspective_matte.png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Phân tích dự án</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">Đây là yêu cầu cơ bản đối với các công ty, doanh nghiệp và cá nhân đang sở hữu các thiết kế website trong mọi lĩnh vực.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-3">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-10" src="~/image/Service2/List_perspective_matte_s 1.png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Quản lý dự án</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">
                                Dịch vụ thiết kế website chuẩn SEO giá tốt, tối ưu trả nghiệm người dùng và thân thiện với
                                mọi trình duyệt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-3">
                    <div class="card box-shadow-card" style="border-radius:8px">
                        <div class="card-header mx-auto card-style-header">
                            <img class="img-size-icon" id="img-11" src="~/image/Service2/Chart_perspective_matte_s.png" />
                        </div>
                        <div class="card-body text-center mobi-size-card px-2">
                            <h5 class="card-title font-weight-bold font-size-mobi-title">Đánh giá & Đo lường</h5>
                            <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">Dựa trên sản phẩm đang có hiện tại chúng tôi thực hiện bảo trì và nâng cấp chúng để nâng cao trải nghiệm cho bạn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row  mx-auto mt-5 mt-md-5 mt-lg-5" id="page-5">
        <div class="col-12 col-md-6 col-lg-6 my-auto nav-text-center">
            <p class="text-uppercase text-primary font-weight-bold">dự án tiêu biểu</p>
            <h3 class="font-weight-bold text-dark">Một số dự án tiêu biểu</h3>
            <div class="nav-content nav-text-center" id="project-home">
                <div class="d-flex flex-nowrap w-100 border-bottom-nav">
                    <ul class="nav row ml-1" role="tablist">
                        <li class="nav-item text-center">
                            <a class="nav-link text-nav active pr-md-2 pl-md-0 px-2" style="color:black" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">
                                Trang web
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link text-nav px-2" style="color:black" data-toggle="tab" href="#" data-target="#kt_tabs_1_2">
                                Ứng dụng
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link text-nav px-2" style="color:black" data-toggle="tab" href="#" data-target="#kt_tabs_1_3">
                                Hệ thống quản lý
                            </a>
                        </li>

                    </ul>
                    <ul class="nav row ml-auto hide-text-card" role="tablist">
                        <li class="nav-item text-center">
                            <a class="nav-link d-flex align-items-center" asp-controller="Project" asp-action="index" style="color:black">
                                Xem tất cả
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                        <div class="row">
                            @for (var i = 1; i <= 4; i++)
                            {
                                <div class="col-12 col-md-6 col-lg-6 mt-4 btn__them_project" data-id ="@ViewBag.Project[i].uuid">
                                    <div class="card-tabs" id="tab_item_container_1">
                                        <img class="card-tab-item w-100" src="@ViewBag.Project[i].path" />
                                        <div class="card-tab-item-content d-block hide-text-card">
                                            <span class="title"> @ViewBag.Project[i].title</span><br />
                                            @*<span class="description ">
                                                @ViewBag.Project[i].title
                                            </span>*@
                                            <span><a href="javascript:void(0)" class="text-white d-block">Xem thêm</a></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 mt-4">
                                <img class="w-100" src="~/image/Service2/Project1.png" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mt-4">
                                <img class="w-100" src="~/image/Service2/Project1.png" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mt-4">
                                <img class="w-100" src="~/image/Service2/Project1.png" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mt-4">
                                <img class="w-100" src="~/image/Service2/Project1.png" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 mt-4">
                                <img class="w-100" src="~/image/Service2/Project1.png" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mt-4">
                                <img class="w-100" src="~/image/Service2/Project1.png" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mt-4">
                                <img class="w-100 " src="~/image/Service2/Project1.png" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mt-4">
                                <img class="w-100" src="~/image/Service2/Project1.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 hide-text-card my-auto">
            <img class="w-100 mt-5" src="~/image/Service2/Group 6514 (1).png" style="opacity:0" />
            <img class="billy-left" id="img-01" src="~/image/Slide/Billy 57.png" />
            <img class="billy-right" id="img-02" src="~/image/Slide/Billy 62.png" />
            <img class="billy-circle" id="img-03" src="~/image/Service2/Group 6263.png" />
            <img class="billy-title" id="img-04" src="~/image/Slide/Group 6512.png" />
            <img class="billy-lightning" id="img-05" src="~/image/Slide/Group 6032.png" />
            <img class="billy-bag" id="img-06" src="~/image/Service/Briefcase_perspective_matte.png" />
        </div>
    </div>

    <div class="row mx-auto mt-5 mt-md-5 mt-lg-5" id="page-6">
        <div class="col-12 get-title-customer">
            <div class="service text-center">
                <p class="text-uppercase font-weight-bold text-primary">Đánh giá của khách hàng</p>
                <h3 class="font-weight-bold">Khách hàng nói gì về chúng tôi</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4 hide-text-card" style="color:#7D82A1">
                    Thông qua các dịch vụ mà đội ngũ Mobiplus đã cung cấp, khách hàng có đôi lời gửi tới quý công ty. Giúp cho đội ngũ nhân sự không ngừng cố gắng và nỗ lực để mang lại kết quả tốt hơn cho các dự án sau.
                </p>
                <div class="col-md-8 col-12 mx-auto  backgourd-feedback">
                    <div class="owl-controls col-8 col-md-9 col-lg-9">
                        <div id="customNav-1" class="owl-nav"></div>
                    </div>
                    <div class="row col-12 col-md-6 col-lg-6 mx-auto owl-carousel owl-theme" id="carousel-customer">
                        <div class="col-4 item item-hover item-customer">
                            <img class="img-1" src="~/image/Service2/avartar.png" style="width:60px;margin-top:25px;opacity:0.5" />
                        </div>
                        <div class="col-4 item item-hover item-customer" style="padding:0px;margin-left:5px">
                            <img class="img-2" src="~/image/Service2/avartar.png" style="width:100px;margin-top:0px;opacity:1" />
                        </div>
                        <div class="col-4 item item-hover item-customer">
                            <img class="img-3" src="~/image/Service2/avartar.png" style="width: 60px; margin-top: 25px;opacity:0.5" />
                        </div>

                    </div>

                </div>

            </div>

            <div class="mt-4 mt-md-5 mt-lg-5 col-md-10 col-12 mx-auto customer-title img-1" style="display:none">
                <p class="text-center">Sau khi sử dụng dịch vụ của công ty Mobiplus chúng tôi thấy rất hài lòng về quy trình tiếp nhận dự án của quý công ty khá tỉ mỉ, chỉnh chu, giao tiếp chuyên nghiệp, quá trình xử lý dự án đáp ứng đúng yêu cầu và dealine đề ra. Rất mong sẽ được hợp tác với quý công ty ở các dự án sau.</p>
                <p class="font-weight-bold text-center">Trần Lê Trung Kiên</p>
                <p class="text-center">
                    AIC Group1
                </p>
            </div>
            <div class="mt-4 mt-md-5 mt-lg-5 col-md-10 col-12 mx-auto customer-title img-2">
                <p class="text-center">Sau khi sử dụng dịch vụ của công ty Mobiplus chúng tôi thấy rất hài lòng về quy trình tiếp nhận dự án của quý công ty khá tỉ mỉ, chỉnh chu, giao tiếp chuyên nghiệp, quá trình xử lý dự án đáp ứng đúng yêu cầu và dealine đề ra. Rất mong sẽ được hợp tác với quý công ty ở các dự án sau.</p>
                <p class="font-weight-bold text-center">Trần Lê Trung Kiên</p>
                <p class="text-center">
                    AIC Group2
                </p>
            </div>
            <div class="mt-4 mt-md-5 mt-lg-5 col-md-10 col-12 mx-auto customer-title img-3" style="display:none">
                <p class="text-center">Sau khi sử dụng dịch vụ của công ty Mobiplus chúng tôi thấy rất hài lòng về quy trình tiếp nhận dự án của quý công ty khá tỉ mỉ, chỉnh chu, giao tiếp chuyên nghiệp, quá trình xử lý dự án đáp ứng đúng yêu cầu và dealine đề ra. Rất mong sẽ được hợp tác với quý công ty ở các dự án sau.</p>
                <p class="font-weight-bold text-center">Trần Lê Trung Kiên</p>
                <p class="text-center">
                    AIC Group3
                </p>
            </div>

        </div>
    </div>

    <div class="row mt-5 mt-md-5 mt-lg-5" id="page-7">
        <div class="col-12 my-auto">
            <div class="text-center">
                <p class="text-uppercase font-weight-bold text-primary">Tuyển dụng nhân sự</p>
                <h3 class="font-weight-bold">Chiêu mộ nhân tài</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
            </div>
          
                <div class="mt-4 mt-md-4 mt-lg-4">
                    <div class="owl-controls col-8 col-md-8 col-lg-9">
                        <div id="customNav" class="owl-nav"></div>
                    </div>
                    <div class="owl-carousel owl-theme blog_row" id="carousel-1">
                        @foreach (var item in ViewBag.Requiment)
                        {
                        <div class="item item-hover" style="cursor: pointer; box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%); border-radius: 12px; ">
                            <div class="card mb-4 btn__xemthem" style="border:none; border-radius:16px" data-id="@item.uuid">
                                <img class="card-img-top p-3" src="@item.img">
                                <div class="card-body pt-0">
                                    <div class="row mt-2">
                                        <div class="col-6 pr-0">
                                            <i class="far fa-clock" style="color: #00C9FB;"></i><span class="ml-2 font__14">@item.time</span>
                                        </div>
                                        <div class="col-6 d-flex">
                                            <i class="ri-user-add-line"></i>
                                            <span class="font__14 ml-2">@item.number người</span>
                                        </div>
                                    </div>
                                    <h5 class="mt-2 card-title-2"><strong>@item.title</strong></h5>
                                    <p class="card-text text-blog" style="color:#7D82A1">
                                        @item.content
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a class="text-dark">
                                            <h7>Xem thêm <span class="blog-them"></span></h7>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                     
                    </div>
                    <div class="mx-auto d-flex">
                        <a class="btn-all-view mx-auto" asp-controller="Requiment" asp-action="index">Xem tất cả</a>
                    </div>
                </div>
            </div>
    </div>
    <div class="row mt-5 mt-md-5 mt-lg-5 mx-auto px-0" style="background-color:#FBFCFF">
        <div class="col-12 img-contact ali-blog">
            <div class="text-center">
                <p class="font-weight-bold text-white">Liên hệ với chúng tôi</p>
                <h3 class="font-weight-bold text-white">Kết nối với chúng tôi</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4 text-white">
                    Bạn đang gặp vướng mắc trong việc xây dựng hoặc phát triển dự án, đang mong muốn tìm kiếm một đối tác khách hàng để hợp tác. Mobiplus là một lựa chọn tốt nhất dành cho bạn.
                </p>

            </div>
            <a class="btn-contact-2" asp-controller="ContactUs" asp-action="index">Liên hệ với chúng tôi</a>
        </div>
        <div class="col-12 col-xl-9 mx-auto p-0">
            <div class="owl-carousel owl-theme" id="carousel-2">
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
            </div>
        </div>
    </div>
    @*<div class="pagination d-block hide-text-card" style="position:fixed; z-index:5; right: 3rem; top:45%; ">
            <a class="btn bg-primary text-white page-pre" data-id="1" href=""><i class="fas fa-chevron-circle-up"></i></a> <br />
            <a class="btn bg-primary text-white mt-2 page-next" href=""><i class="fas fa-chevron-circle-down"></i></a>
        </div>*@
</div>
@section Scripts{
    <script>
        $(".owl-item").hover(
            function () {
                $(this).find(".mw-100").attr('src', '/image/Service2/Customer2.png');
            },
            function () {
                $(this).find(".mw-100").attr('src', '/image/Service2/Customer1-detached.png');
            }
        );
        $(".item-hover").hover(
            function () {
                $(this).find(".card-title-2").css('color', "#0C5ADB");
                $(this).find(".box-shadow").css('box-shadow', "0 0.25rem 0.75rem rgb(0 0 0 / 15%)");
                $(this).find(".blog-them").css('box-shadow', "0 0.25rem 0.75rem rgb(0 0 0 / 15%)");
                $(this).find(".blog-them").css('float', "right");
            }, function () {
                $(this).find(".card-title-2").css('color', "#343a40");
                $(this).find(".box-shadow").css('box-shadow', "0 0.25rem 0.75rem rgb(0 0 0 / 5%)");
                $(this).find(".blog-them").css('float', "left");
            }
        )
        $('.btn__xemthem').on('click', function (e) {
            var uuid = $(this).attr('data-id');
            location.href = `/Requiment/Detail/${uuid}`;
        })
        $('.btn__them_project').on('click', function (e) {
            var uuid = $(this).attr('data-id');
            location.href = `/Project/Detail/${uuid}`;
        })
    </script>
}

